     <!-- Footer -->
      <footer class="site-footer section bg-dark text-contrast edge top-left">
         <div class="container py-3">
            <div class="row gap-y text-center text-md-left">
               <div class="col-md-4 mr-auto">
                  <img src="{{asset('bundles/flexyfront/assets/img/logos/logo-flexible-solutions.png')}}" alt="" class="logo">
                  <p>Flexible Solutions - Agence web et applications basée à Casablanca, Maroc.</p>
               </div>
               <div class="col-md-2">
                  <nav class="nav flex-column"><a class="nav-item py-2 text-contrast" href="#">About</a> <a class="nav-item py-2 text-contrast" href="#">Services</a> <a class="nav-item py-2 text-contrast" href="#">Blog</a></nav>
               </div>
               <div class="col-md-2">
                  <nav class="nav flex-column"><a class="nav-item py-2 text-contrast" href="#">Features</a> <a class="nav-item py-2 text-contrast" href="#">API</a> <a class="nav-item py-2 text-contrast" href="#">Customers</a></nav>
               </div>
               <div class="col-md-2">
                  <nav class="nav flex-column"><a class="nav-item py-2 text-contrast" href="#">Careers</a> <a class="nav-item py-2 text-contrast" href="#">Contact</a> <a class="nav-item py-2 text-contrast" href="#">Search</a></nav>
               </div>
               <div class="col-md-2">
                  <h6 class="py-2 small">Follow us</h6>
                  <nav class="nav justify-content-around"><a href="https://facebook.com/5studios.net" target="_blank" class="btn btn-circle btn-sm brand-facebook"><i class="fab fa-facebook"></i></a> <a href="#" class="btn btn-circle btn-sm brand-twitter"><i class="fab fa-twitter"></i></a> <a href="#" class="btn btn-circle btn-sm brand-instagram"><i class="fab fa-instagram"></i></a></nav>
               </div>
            </div>
            <hr class="mt-5 op-5">
            <div class="row small">
               <div class="col-md-4">
                  <p class="mt-2 mb-0 text-center text-md-left">© 2019 <a href="#">Flexible Solutions Agency</a>. All Rights Reserved</p>
               </div>
            </div>
         </div>
      </footer>