   <head>
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <![endif]-->
      <title>Laapp - App Landing Page</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <!-- Place favicon.ico in the root directory -->
      <link rel="apple-touch-icon" href="apple-touch-icon.png')}}">
      <link rel="icon" href="favicon.ico">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{asset('bundles/flexyfront/assets/css/laapp.min.css')}}">
   </head>