   <head>
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <![endif]-->
      <title>Flexible Solutions - Agence web et applications basée à Casablanca, Maroc. </title>
      <meta name="description" content="Flexible Solutions une agence créative experte en web, communication digitale & web marketing basée à Casablanca, Maroc. Nous sommes une équipe de designers et de développeurs expérimentés & hyper compétents qui offrent de l'innovation, de la passion & de la créativité ">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <!-- Place favicon.ico in the root directory -->
      <link rel="apple-touch-icon" href="apple-touch-icon.png')}}">
      <link rel="icon" href="favicon.ico">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="{{asset('bundles/flexyfront/assets/css/laapp.min.css')}}">
   </head>