{% if currencies|length > 1 %}
    
            {% for code in currencies %}
                {% if code is not same as(active) %}
                <a href="{{ path('sylius_shop_switch_currency', {'code': code}) }}" class="item sylius-available-currency vTextLR d-block" {{ sylius_test_html_attribute('available-currency') }}>
                    {{ code }}
                </a>
                <br>
                {% endif %}
            {% endfor %}
        
{% endif %}
