{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}



<i style="font-size:2rem;cursor:pointer;" class="fas fa-shopping-bag {% if cart.items|length > 0 %}bounce{% endif %}"></i>


<span id="sylius-cart-total" class="d-none" {{ sylius_test_html_attribute('cart-total') }}>
    {{- money.convertAndFormat(cart.itemsTotal) -}}
</span>

