<div class="{{class}}">
                                <a href="{{singleBanner.lien}}">
                                    <img src="/uploads/{{singleBanner.image}}" alt="">
                                </a>
                            </div>


