{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}


<header id="landing-header" class="foi-header landing-header" style="position:relative;">
    
    {#
        <div class="container">

            <div class="header-content">
                <div id="owlcarousel" class="owl-carousel">
            
                        {{ bitbag_cms_render_block('slider') }}


                </div>
                
            </div>
        </div>
        
        #}

    </header>

        <div id="body-content">
            {{ bitbag_cms_render_block('index_page') }}
        </div>    
            
                
                
            


{% endblock %}
