<a class="item" href="{{ path('sylius_admin_dashboard') }}" style="padding: 13px 0;">
    <div style="max-width: 140px; margin: 0 auto;">
        <img src="{{ asset('assets/admin/img/logo-flexy-600px-white.png') }}" class="ui fluid image">
    </div>
</a>
